<blockquote class="blockquote">
  <p><%= @answer %></p>
  <footer class="blockquote-footer"><em><%= "You" %></em></footer>
</blockquote>

<blockquote class="blockquote">
  <p><strong><%= @reaction %></strong></p>
  <footer class="blockquote-footer"><em><%= "Your coach" %></em></footer>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
